@model MusicStoreSample.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
}

<script src="/scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $(".RemoveLink").click(function(){
            var recordToDelete = $(this).attr("data-id");

            if(recordToDelete != ''){
                $.post("/ShoppingCart/RemoveFromCart",{"id":recordToDelete},
                    function(data){
                        if(data.ItemCount == 0){
                            $('#row-'+data.DeleteId).fadeOut('slow');
                        }else{
                            $('#item-count'+data.DeletedId).text(data.ItemCount);
                        }
                    });
            }
        });
    });

    function handleUpdate(){
        var json = context.get_data();
        var data = Sys.Serialization.JavascriptSerializer.deserialize(json);

        if(data.ItemCount == 0){
            $('#row-'+data.DeletedId).fadeOut('slow');
        }else{
            $('#item-count-'+data.DeletedId).text(data.ItemCount);
        }

        $('#cart-total').text(data.CartTotal);
        $('#update-message').text(data.Message);
        $('#cart-status').text('Cart('+data.CartCount+')');
    }
</script>
<h3>
    <em>Review</em>your cart:
</h3>

<p class="button">
    @Html.ActionLink("Checkout >>","AddressAndPayment","Checkout");
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
{ <tr id="row-@item.RecordId">
<td> @Html.ActionLink(item.Album.Title, "Details", "Store", new { id = item.AlbumId }, null)
</td>
<td> @item.Album.Price
</td> <td id="item-count-@item.RecordId"> @item.Count
</td>
<td> <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
</td>
</tr>
}
<tr>
<td>
Total
</td>
<td>
</td>
<td>
</td>
<td id="cart-total"> @Model.CartTotal
</td>
</tr>
</table>

